:host {
  display: block;
}

.select-box {
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 2px solid #ECECEC;
  color: #A6A9B0;
  font-size: 22px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
}

.color-box {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
}
.color-box:hover, .color-box.active {
  border-color: #00A2C5;

}
.color-box .white {
  width: 35px; height: 35px;
  background: url('../../../assets/color-sprites.png') -3px -3px;
}
.color-box .darkwood {
  width: 35px; height: 35px;
  background: url('../../../assets/color-sprites.png') -44px -3px;
}
.color-box .black {
  width: 35px; height: 35px;
  background: url('../../../assets/color-sprites.png') -3px -44px;
}
.color-box .butcherblock {
  width: 35px; height: 35px;
  background: url('../../../assets/color-sprites.png') -44px -44px;
}

/* sm ++ */
@media (min-width:641px) {
  .select-box {
    padding: 10px 31px;
  }
}

.select-box.active {
  color: inherit;
  border-color: #00A2C5;
  background-color: white;
}

.select-box .label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
