<div style="margin-top: 20px;">
  This is where a final review section would be...
</div>
<div style="margin-top: 30px">
  <a class="btn complete" routerLink="../confirmation"><span>Complete Order </span></a>
</div>
