@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #EDEDED;
  font-family: 'Open Sans', sans-serif;
  color: #414751;
  font-size: 14px;
}

.text-normal {
  font-weight: normal;
}

header {
  margin-top: 20px; margin-left: 20px;
}

.bold {
  font-weight: 700;
}

.color-gray {
  color: #e8e8e8;
}

.text-right {
  text-align: right;
}

.form-group {
  margin-top: 25px;
}

.error label {
  color: #a94442 !important;
}

.error .form-control {
  border-color: #a94442;
  background-color: #ffd4d37a;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ECECEC;
  border-radius: 4px;
}

label {
  color: #9FA4A9;
}

.btn {
  border-radius: 4px;
  background-color: #353C41;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 12px 15px;
  width: 100px;
  transition: all 0.4s;
  cursor: pointer;
}

.btn.complete {
  background-color: #47D776;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 12px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* sm ++ */
@media (min-width:641px) {
  label {
    text-align: right;
  }
}

.form-control-container {
  margin: 20px 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #00A2C5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* xs */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .form-group:not(:first-child) {
    /*margin-top: 50px;*/
  }
}
