<div style="margin-top: 15px;">
  <h2>Alright, Alright, Alright!!!</h2>
</div>

<div style="margin-top: 15px; float: left; margin-right: 20px;">
  <img src="../../../assets/check.png" style="width: 100px;" />
</div>

<div style="margin-top: 20px;">You've completed your order. Please document your confirmation number for your records.</div>
<div style="margin-top: 20px;">
  <h4>Confirmation Number: {{order.id.toUpperCase()}}</h4>
</div>
